<div>
  <div>
    <h1>
      List of all entries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new entry
    </h2>

    <form action="/insert_entry" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create entry
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Body
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_entries.each do |an_entry| %>
      <tr>
        <td>
          <%= an_entry.id %>
        </td>

        <td>
          <%= an_entry.title %>
        </td>

        <td>
          <%= an_entry.body %>
        </td>

        <td>
          <%= time_ago_in_words(an_entry.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_entry.updated_at) %> ago
        </td>

        <td>
          <a href="/entries/<%= an_entry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
